body {
    padding-top: 85px;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #406c96;
    font-family: 'Raleway', sans-serif;
}

a {
    color: #406c96;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.navbar {
    font-family: 'Raleway', sans-serif;
    background: #fff;
    min-height: 85px;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    padding-top: 15px;
    text-align: center;
    span {
        font-size: 10px;
        color: #ccc;
        text-align: center;
    }
    li {
        &:not(.active):hover {
            background: #f4f4f4;
            cursor: pointer;
            a {
                color: #666;
            }
        }
        li {
            padding: 5px 0;
            border-left: 4px solid #f4f4f4;
            &:hover {
                border-left: 4px solid #406c96;
            }
        }
    }
    .active {
        background: #406c96;
        a {
            color: #fff;
        }
    }
}

.navbar-brand {
    padding: 0;
}

.navbar-nav>li {
    padding-bottom: 5px;
    >a {
        padding-bottom: 0;
        color: #666;
    }
}

.nav>li>a:hover,
.nav>li>a:focus {
    background: none;
}


/* SECTION 1 */

section {
    padding: 30px 0;
    overflow: hidden;
    h1 {
        margin: 30px 0;
    }
}

.section-default {
    background: #f7f8f7;
    img {
        width: 100%;
    }
}

.highlight {
    background: #406c96;
    color: #fff;
    padding: 5px 25px;
    display: inline;
    line-height: 60px;
    border-radius: 5px;
}

.section-default__list {
    margin-top: 30px;
    li {
        list-style: none;
        line-height: 2em;
        padding: 5px 0;
        font-size: 18px;
    }
}

.fa {
    margin-right: 10px;
    color: #406c96;
    font-size: 1.5em;
}


/*SECTION 2 */

.section-primary {
    background: #406c96;
    color: #fff;
}

.icons {
    text-align: center;
    h4 {
        color: #fff;
    }
    i {
        display: block;
        margin-bottom: 15px;
    }
}

.fa-white {
    color: #fff;
}

.fa-lg {
    font-size: 4em;
}

/*SECTION 3 */

.section-devices{
    text-align: center;
}