body {
    padding-top: 85px;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #406c96;
    font-family: 'Raleway', sans-serif;
}

a {
    color: #406c96;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.navbar {
    font-family: 'Raleway', sans-serif;
    background: #fff;
    min-height: 85px;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    padding-top: 15px;
    text-align: center;
    span {
        font-size: 10px;
        color: #ccc;
        text-align: center;
    }
    li {
        &:not(.active):hover {
            background: #f4f4f4;
            cursor: pointer;
            a {
                color: #666;
            }
        }
        li {
            padding: 5px 0;
            border-left: 4px solid #f4f4f4;
            &:hover {
                border-left: 4px solid #406c96;
            }
        }
    }
    .active {
        background: #406c96;
        a {
            color: #fff;
        }
    }
}

.navbar-brand {
    padding: 0;
}

.navbar-nav>li {
    padding-bottom: 5px;
    >a {
        padding-bottom: 0;
        color: #666;
    }
}

.nav>li>a:hover,
.nav>li>a:focus {
    background: none;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background: none;
    color: #fff;
}


/* SECTION 1 */

section {
    padding: 30px 0;
    overflow: hidden;
    h1 {
        margin: 30px 0;
    }
}

.section-default {
    background: #f7f8f7;
    img {
        width: 100%;
        position: relative;
        margin-left: 500px;
    }
    img.imac.animate {
        -moz-transform: translate(-40em, 0);
        -webkit-transform: translate(-40em, 0);
        transform: translate(-40em, 0);
    }
}

.highlight {
    background: #406c96;
    color: #fff;
    padding: 5px 25px;
    display: inline;
    line-height: 60px;
    border-radius: 5px;
}

.section-default__list {
    margin-top: 30px;
    li {
        list-style: none;
        line-height: 2em;
        padding: 5px 0;
        font-size: 18px;
    }
}

.fa {
    margin-right: 10px;
    color: #406c96;
    font-size: 1.5em;
}


/*SECTION 2 */

.section-primary {
    background: #406c96;
    color: #fff;
}

.icons {
    text-align: center;
    h4 {
        color: #fff;
    }
    i {
        display: block;
        margin-bottom: 15px;
    }
}

.fa-white {
    color: #fff;
}

.fa-lg {
    font-size: 4em;
}


/*SECTION 3 */

.section-devices {
    text-align: center;
    img {
        position: relative;
    }
    .desktop {
        width: 375px;
    }
    .laptop {
        margin-left: -95px;
        z-index: 100;
        width: 290px;
    }
    .mobile {
        width: 190px;
        z-index: 100;
    }
    img.laptop.animate {
        -moz-transform: translate(12em, 0);
        -webkit-transform: translate(12em, 0);
        transform: translate(12em, 0);
    }
    img.mobile.animate {
        -moz-transform: translate(-8em, 0);
        -webkit-transform: translate(-8em, 0);
        transform: translate(-8em, 0);
    }
}

.animate {
    -moz-transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    -moz-animaion-fill-mode: forwards;
    -webkit-animaion-fill-mode: forwards;
    animaion-fill-mode: forwards;
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}


/*FOOTER */

.footer-main {
    background: #406c96;
    color: #fff;
    border-top: 8px solid #333;
    padding: 40px 0;
    h4,
    a {
        color: #fff;
    }
    li {
        list-style: square;
        line-height: 2em;
    }
}

@media(min-width:601px) and (max-width:960px) {
    .section-devices {
        .desktop {
            width: 293px;
        }
        .laptop {
            width: 235px;
        }
        .mobile {
            width: 148px;
        }
    }
}

@media(max-width:600px) {
    .section-devices {
        .desktop {
            width: 263px;
        }
        .laptop {
            display: none;
        }
        .mobile {
            display: none;
        }
    }
}

@media(max-width:760px) {
    h1 {
        font-size: 35px;
        text-align: center;
    }
    h2 {
        font-size: 25px;
        display: block !important;
        text-align: center;
        line-height: 1.5em !important;
    }
    .icons i {
        margin-top: 30px;
    }
    img.imac{
        margin-left: 560px;
    }
}